<md-list>
  <md-list-item ng-repeat="contact in list.myService.contacts | orderBy:'name' track by $index " class="md-2-line">

    <div class="md-avatar">
      <md-icon class="icon md-accent md-display-1">person</md-icon>
    </div>

    <div class="md-list-item-text" layout="column">
      <h3>{{contact.name}}</h3>
      <p>{{contact.company}}</p>
    </div>

    <md-menu class="md-secondary">

      <md-button class="md-icon-button">
        <md-tooltip md-direction="left">Click to show menu</md-tooltip>
        <md-icon> menu </md-icon>
      </md-button>

      <md-menu-content width="4">

        <md-menu-item>
          <md-button class="md-primary" ng-click="list.details(contact.id)">
            <md-icon>info</md-icon>
            Details
          </md-button>
        </md-menu-item>

        <md-menu-divider></md-menu-divider>

        <md-menu-item>
          <md-button class="md-accent" ng-click="list.edit(contact.id)">
            <md-icon>edit</md-icon>
            Edit
          </md-button>
        </md-menu-item>

        <md-menu-divider></md-menu-divider>

        <md-menu-item>
          <md-button class="md-warn" ng-click="list.delete(contact.id)">
            <md-icon>delete</md-icon>
            Delete
          </md-button>
        </md-menu-item>

      </md-menu-content>

    </md-menu>

  </md-list-item>
</md-list>